.future-weather {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80vw;
}

.every_3hours {
    height: 30%;
    background-color: cadetblue;
    display: flex;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    
    li{
        list-style: none;
        padding: 15px;
        color: #FBF3F2;
        font-size: 0.7rem;
        text-align: center;
    } 
}

.next_5days {
    margin-top: 20px;
    width: 100%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;

    * {
        color: #FBF3F2;
    }
    li {
        background-color: cadetblue;
        list-style: none;
        padding: 15px;
        text-align: center;
        font-size: 0.7rem;
    }
}

